In [189]:
import pandas as pd
from random import random
from random import randint
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# I'm great
## But I am smaller

Who am I?

In [2]:
def catagorical_maker(column, catagoricals, number_of_repeats):
    x = []
    for f in range(number_of_repeats):
        value = randint(0,2)
        x.append(catagoricals[value])
    #return df_maker(column, x)
    return x

In [283]:
status_catagoricals = {
                       'Status': ['Single', 'Married', 'Divorced'],
                       'Piggies': ['Big', 'Bad', 'Wolf'],
                       'Likes': ['I', 'Like', 'Cheese'],
                       'Book': ['Lion', 'Witch', 'Wardrobe'],
                       'CryoEM': ['Grid', 'Square', 'Holes'],
                       'Christmas': ['Turkey', 'Goose', 'Duck'],
                       'Toys': ['Barbie', 'Ken', 'Actionman'],
                       'Z': ['X', 'Y', 'Z']
                      }


lists = []
column_name = []
for x, f in enumerate(status_catagoricals):
    value = catagorical_maker(f, status_catagoricals[f], 50000)
    lists.append(value)
    column_name.append(f)


df = pd.DataFrame(np.array(lists).T, columns = column_name)
#df_main = df.astype("category")
#df_main
frequency_df_main = df.groupby(column_name).size().reset_index().rename(columns={0:'count'})

In [297]:
#frequency_df_main['count'].min()
#frequency_df_main['count'].sum()
#frequency_df_main
#df.groupby(column_name).size().reset_index().rename(columns={0:'count'})
frequenct_df_main['count'].describe()

count    6561.000000
mean        7.620790
std         2.771109
min         0.000000
25%         6.000000
50%         7.000000
75%         9.000000
max        19.000000
Name: count, dtype: float64

In [299]:
#print(len(frequency_df_main))
#for f in range(len(frequency_df_main)):
#    if (frequenct_df_main['count'].iloc[f]) == 0:
#        print(frequenct_df_main.iloc[f])

In [300]:
#sns.histplot(data=frequency_df_main, bins=15)

In [179]:
#df_main.groupby(column_name).size().reset_index().rename(columns={0:'count'})

# Nothing to see here
## Sand box

https://stackoverflow.com/questions/35268817/unique-combinations-of-values-in-selected-columns-in-pandas-data-frame-and-count

In [188]:
example = {'X': ['a', 'a', 'a', 'b', 'b', 'c', 'c','c'],
          'Y': ['a', 'a', 'a', 'c', 'c', 'a', 'a', 'b'],
          'Z': ['b', 'b', 'b', 'c', 'c', 'c', 'c', 'a']}
ex_df = pd.DataFrame(example)
ex_df = ex_df.astype("category")
ex_df.groupby(['X', 'Y', 'Z']).size().reset_index().rename(columns={0:'count'})

    X  Y  Z  count
0   a  a  a      0
1   a  a  b      3
2   a  a  c      0
3   a  b  a      0
4   a  b  b      0
5   a  b  c      0
6   a  c  a      0
7   a  c  b      0
8   a  c  c      0
9   b  a  a      0
10  b  a  b      0
11  b  a  c      0
12  b  b  a      0
13  b  b  b      0
14  b  b  c      0
15  b  c  a      0
16  b  c  b      0
17  b  c  c      2
18  c  a  a      0
19  c  a  b      0
20  c  a  c      2
21  c  b  a      1
22  c  b  b      0
23  c  b  c      0
24  c  c  a      0
25  c  c  b      0
26  c  c  c      0